*{
    margin: 0px;
}


.navbar{
    background: rgb(91, 132, 160);
    display: flex;
    justify-content: center;
    align-items: center;
}


footer{
    background: rgb(91, 132, 160);
    position: fixed;
    bottom: 0px;
    display: flex;
    width: 100%;
}