*{
    margin: 0px;
}


.navbar{
    /* background: rgb(91, 132, 160); */
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.container{
    /* background: rgb(237, 239, 243); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

    
}



footer{
    background: rgb(91, 132, 160);
    position: fixed;
    bottom: 0px;
    display: flex;
    width: 100%;
}